#footerContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--navFoot);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactLink {
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
}

.contactLink:hover {
  color: var(--bg);
}
